{% extends 'base.html' %}
{% load static %}

{% block title %}
    Shopping cart
{% endblock %}

{% block content %}
<br>
    <div style="text-align: center"><h2>찜 목록</h2></div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Remove</th>
                <th scope="col">Unit price</th>
                <th scope="col">예약하기</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <th scope="row">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="img_thumbnail" style="width: 300px">
                    </a>
                </th>
                <td>{{ product.name }}</td>
                <td><a href="{% url "cart:product_remove" product.id %}">Remove</a></td>
                <td class="num">${{ item.price }}</td>
                <td><a href='{% url "club:reservation" %}' class="btn btn-primary">Reservation</a></td>
            </tr>
            {% endwith %}
        {% endfor %}


        </tbody>
    </table>

    <p class="text-right">
        <a href='{% url "today:product_all" %}' class="btn btn-secondary">Continue shopping</a>
    </p>
{% endblock %}