{% extends 'base.html' %}
{% block title %}- Logout{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default"
        style="height: 270px; margin-top: 20px">

            <div class="alert alert-secondary">
                성공적으로 로그아웃 했습니다.</div>
            <br>
            <a class="btn btn-outline-info float-right" href="{% url 'login' %}">
                다시 로그인하기</a>

        </div>
        <div class="col-md-2"></div>
</div>
{% endblock %}